In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, roc_auc_score,roc_curve
import seaborn as sns
from sklearn.model_selection import cross_val_score, GridSearchCV, KFold, train_test_split

In [2]:
train_df= pd.read_csv("D:\\pyt\\Assignment\\Assignment 17-Support Vector Machines\\SalaryData_Train(1).csv")
train_df.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
train_df.shape

(30161, 14)

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30161 entries, 0 to 30160
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   age            30161 non-null  int64
 1   workclass      30161 non-null  object
 2   education      30161 non-null  object
 3   educationno    30161 non-null  int64
 4   maritalstatus  30161 non-null  object
 5   occupation     30161 non-null  object
 6   relationship   30161 non-null  object
 7   race           30161 non-null  object
 8   sex            30161 non-null  object
 9   capitalgain    30161 non-null  int64
 10  capitalloss    30161 non-null  int64
 11  hoursperweek   30161 non-null  int64
 12  native         30161 non-null  object
 13  Salary         30161 non-null  object
dtypes: int64(5), object(9)
memory usage: 3.2+ MB

In [5]:
# Checking imbalance in the data
train_df.Salary.value_counts()/len(train_df.Salary)

 <=50K    0.751069
 >50K     0.248931
Name: Salary, dtype: float64

In [6]:
X_train= train_df.iloc[:, 0:-1]
X_train.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,39,State-gov,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba

In [7]:
y_train = train_df.iloc[:, -1]
y_train.head()

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: Salary, dtype: object

In [8]:
# Creatimg balanced data frame
from imblearn.over_sampling import RandomOverSampler
X_resampled, y_resampled = RandomOverSampler().fit_resample(X_train, y_train)

In [9]:
print(X_resampled.shape)
print(y_resampled.shape)

(45306, 13)
(45306,)

In [10]:
y_resampled.value_counts()

 <=50K    22653
 >50K     22653
Name: Salary, dtype: int64

In [11]:
y_train= y_resampled.copy()
y_train.value_counts()

 <=50K    22653
 >50K     22653
Name: Salary, dtype: int64

In [12]:
# Lets Create the dummy varibales for the catagorical data 
x_train = pd.get_dummies(X_resampled)
x_train.head()

,age,educationno,capitalgain,capitalloss,hoursperweek,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,13,0,0,13,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2,38,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
3,53,7,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,28,13,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
# Importing the test data and performing the necessary operations

In [14]:
test_df= pd.read_csv("D:\\pyt\\Assignment\\Assignment 17-Support Vector Machines\\SalaryData_Test(1).csv")
test_df.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [15]:
X_test = test_df.iloc[:, 0:-1]
X_test.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States

In [16]:
# creating dummy variables for the test data set
x_test= pd.get_dummies(X_test)
x_test.head()

,age,educationno,capitalgain,capitalloss,hoursperweek,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,...,native_ Portugal,native_ Puerto-Rico,native_ Scotland,native_ South,native_ Taiwan,native_ Thailand,native_ Trinadad&Tobago,native_ United-States,native_ Vietnam,native_ Yugoslavia
0,25,7,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,38,9,0,0,50,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,28,12,0,0,40,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,44,10,7688,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
4,34,6,0,0,30,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [17]:
y_test= test_df.iloc[:, -1]
y_test.head()

0     <=50K
1     <=50K
2      >50K
3      >50K
4     <=50K
Name: Salary, dtype: object

In [18]:
print(x_test.shape)
print(y_test.shape)

(15060, 102)
(15060,)

In [19]:
# Using StandardScalar to sclae the data
scaled = StandardScaler().fit(x_train)
X_train_scaled = scaled.transform(x_train)
X_test_scaled = scaled.transform(x_test)

# Using linear kernal

In [20]:
model_svc= SVC(kernel="linear", C=1)
model_svc.fit(X_train_scaled, y_train)

SVC(C=1, kernel='linear')

In [21]:
model_svc.score(X_train_scaled, y_train)

0.8161391427184037

In [22]:
model_svc.score(X_test_scaled , y_test)

0.7924966799468791

In [26]:
y_pred= model_svc.predict(X_test_scaled)

In [27]:
confusion_matrix(y_test, y_pred)

array([[8758, 2602],
       [ 523, 3177]], dtype=int64)

# Using RBF kernal

In [28]:
model_svc1= SVC(kernel="rbf")
model_svc1.fit(X_train_scaled, y_train)

SVC()

In [29]:
model_svc1.score(X_train_scaled, y_train)

0.8472167041892906

In [30]:
model_svc1.score(X_test_scaled , y_test)

0.797144754316069

In [31]:
y_pred1= model_svc1.predict(X_test_scaled)

In [32]:
confusion_matrix(y_test, y_pred1)

array([[8922, 2438],
       [ 617, 3083]], dtype=int64)

# Using Sigmoid kernal

In [ ]:
model_svc2= SVC(kernel="poly")
model_svc2.fit(X_train_scaled, y_train)

In [ ]:
model_svc2.score(X_train_scaled, y_train)

In [ ]:
model_svc2.score(X_test_scaled , y_test)

# Hyperparameter tunning using Gridsearch

In [39]:
model= SVC()

parameters = [ {'C':[1, 10, 100, 1000], 'kernel':['linear']},
               {'C':[1, 10, 100, 1000], 'kernel':['rbf'], 'gamma':[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9]},
               {'C':[1, 10, 100, 1000], 'kernel':['poly'], 'degree': [2,3,4] ,'gamma':[0.01,0.02,0.03,0.04,0.05]} ]
              
kfold = KFold (n_splits=5, shuffle=True, random_state=42)              
grid_search = GridSearchCV(estimator = model,  
                           param_grid = parameters,
                           scoring = 'accuracy',
                           cv = kfold,
                           verbose=0)

In [ ]:
grid_search.fit(X_train_scaled, y_train)